body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(241, 241, 241);
}

.num {
    font-size: 60px;
    font-weight: bolder;
}

.btn-ver {
    font-size: 15px;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.5s;
}

.btn-ver:hover {
    background-color: rgb(155, 155, 155);
}

.btn-1 {
    background-color: red;
    color: white;
}

.btn-2 {
    background-color: violet;
    color: white;
}